.reviewMainContent{
    padding-top: 5vh;
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
}
.quicksandFont{
    font-family: "Quicksand", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
  }
.reviewHeadLine{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
}
.reviewHeadLine h1{
    font-size: 70px;
}
.reviewHeadLine h1 span{
    color: #f06625;
}
.reviewContentBox{
    padding: 8px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    row-gap: 8px;
}
.reviewBox{
    height: 320px;
    width: 400px;
    display: flex;
    flex-direction: column;
    border-radius: 16px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(20px);
    -webkit-backdrop-filter: blur(20px);
}
.userContent{
    height: 30%;
    padding: 8px;
    display: flex;
}
.profileImg{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.profilePic{
    height: 80px;
    width: 80px;
    border-radius: 50%;
}
.userNameRatings{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 8px;
    width: 40%;
}
.reviewImg{
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.commentImgclass{
    height: 130px;
    width: 130px;
}
.reveiwContent{
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px;
}
@media screen and (max-width:426px){
    .reviewMainContent{
        padding-top: 10vh;
        display: flex;
        flex-direction: column;
        height: auto;
        width: auto;
    }
    .reviewHeadLine h1{
        font-size:  50px;
    }
    .commentImgclass{
        height: 120px;
        width: 120px;
    }
}