*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  min-height: 100vh;
}
a{
  text-decoration: none;
  color: inherit;
}
.app{
  width: 80%;
  margin: auto;
}

/* user defined */

.flexCenter{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.flexStart{
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.flexEnd{
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.flexColumnCenter{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.padding{
  padding: 1.5rem
}

.innerWidth{
  width: 100%;
}